@model PousadaIdentity.Entities.Reserva

@{
    ViewData["Title"] = "Details";
}

<script>
    $(document).ready(function () {
        // Manipular o clique no botão "Marcar como Pago"
        $('#btnConfirmarPago').click(function () {
            $('#modalConfirmarPago').modal('show');
        });

        // Manipular o clique no botão "Marcar como Não Pago"
        $('#btnConfirmarNãoPago').click(function () {
            $('#modalConfirmarNãoPago').modal('show');
        });
    });
</script>


<div style="width:600px;background-color:#FFFF;position:relative;top:20px;border-radius:10px;
    top:20px;margin-left:auto;margin-right:auto;height:800px;">

    <h1 style="position:relative;margin-left:auto;margin-right:auto;margin:0;text-align:center;
    background-color:#DFA67B;color:white;border-top-left-radius:10px;border-top-right-radius:10px;">
        Detalhes do Quarto
    </h1>
    <hr style="position:relative;bottom:16px;" />

<div>
    <dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CheckIn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CheckIn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CheckOut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CheckOut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataReservada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataReservada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorTotalReserva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorTotalReserva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quarto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quarto.QuartoId)
        </dd>
        <dt class="col-sm-2">
        Preço da Diaria
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quarto.Preco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pessoa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pessoa.PessoaId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pessoa.CPF)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pessoa.CPF)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pessoa.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pessoa.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pessoa.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pessoa.Email)
        </dd>
    </dl>
</div>
    <div style="position:relative;text-align: center;position:relative;">
        <a asp-action="Index" class="btn" style="background-color:#dc3545;color:#fff;">Voltar</a>
        <a asp-action="Edit" asp-route-id="@Model?.ReservaId" class="btn btn-primary" style="width:70px;">Editar</a>

@if (User.IsInRole("Funcionario") && Model.Estado != "Pago")
{
    <button id="btnConfirmarPago" class="btn btn-success" data-toggle="modal" data-target="#modalConfirmarPago">Marcar como Pago</button>
}

@if (User.IsInRole("Funcionario") && Model.Estado == "Pago")
{
    <button id="btnConfirmarNãoPago" class="btn btn-danger" data-toggle="modal" data-target="#modalConfirmarNãoPago">Marcar como Não Pago</button>
}
    </div>

@if (User.IsInRole("Funcionario") && Model.Estado != "Pago")
{

<!-- Modal para "Marcar como Pago" -->
<div class="modal fade" id="modalConfirmarPago" tabindex="-1" role="dialog" aria-labelledby="modalConfirmarPagoLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalConfirmarPagoLabel">Confirmação</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Tem certeza de que deseja marcar como pago?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>

                <form asp-action="MarcarComoPago" asp-route-id="@Model.ReservaId" method="post">
                    <button type="submit" class="btn btn-success">Marcar como Pago</button>
                </form>
            </div>
        </div>
    </div>
</div>
}



@if (User.IsInRole("Funcionario") && Model.Estado == "Pago")
{

<!-- Modal para "Marcar como Não Pago" -->
<div class="modal fade" id="modalConfirmarNãoPago" tabindex="-1" role="dialog" aria-labelledby="modalConfirmarNãoPagoLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalConfirmarNãoPagoLabel">Confirmação</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Tem certeza de que deseja marcar como não pago?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <form asp-action="MarcarComoNãoPago" asp-route-id="@Model.ReservaId" method="post">
                    <button class="btn btn-danger">Sim, Marcar como Não Pago</button>
                </form>
            </div>
        </div>
    </div>
</div>
}