@model PousadaIdentity.Entities.Reserva

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Reserva</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CheckIn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CheckIn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CheckUp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CheckUp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataReservada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataReservada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorTotalReserva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorTotalReserva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quarto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quarto.QuartoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pessoa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pessoa.PessoaId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pessoa.CPF)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pessoa.CPF)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pessoa.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pessoa.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pessoa.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pessoa.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ReservaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
