@model IEnumerable<PousadaIdentity.Entities.Pessoa>

@{
    ViewData["Title"] = "Index";
}



<h1>Lista de Pessoas</h1>


<table class="table" style="width:90%;margin:0 auto;">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CPF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CPF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario)
            </td>
            <td>    
            <a asp-action="Edit" asp-route-id="@item.PessoaId" class="btn" style="background-color:#DFA67B;color:white;">Editar</a> |
            <a asp-action="Details" asp-route-id="@item.PessoaId" class="btn btn-primary" style="width:90px;">Detalhes</a> |
            <a asp-action="Delete" asp-route-id="@item.PessoaId" class="btn btn-danger">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>

