@using System.Security.Claims;

@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Home Page";
    <link link rel="stylesheet" href="/css/Index.css" asp-append-version="true" />
} 
<head>
    <script src="https://code.jquery.com/jquery-migrate-3.3.2.min.js"></script>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<!--
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<p>
    ID do Usuário: @User.FindFirst(ClaimTypes.NameIdentifier)?.Value


</p>
<h1>Valor do userID:</h1>

@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Usando Session</h2>
    <hr />
    <h3>Valores obtidos da Session</h3>
    <hr />
    Nome : @HttpContextAccessor.HttpContext.Session.GetInt32("SessionPessoaId")
    Idade : @HttpContextAccessor.HttpContext.Session.GetInt32("SessionIdade")
</div>
-->



<div style="position:absolute;right: 0;z-index: 100 !important;top:10px;opacity:0;animation-duration: 7s;display:none;" id="notificationContainer" class="fade-in-out">
    <div style="background-color:#FFFFFF;width:310px;height:70px;border-radius:10px;border-color:#DFA67B;border:2px solid #DFA67B;">
        <img src="/Imagens/user (1).png" width="50px;" height="50px;" style="display:inline-block;position:relative;top:10px;" />
        <p style="display:inline-block;position:relative;top:10px;">Bem Vindo, @User.Identity.Name</p>
    </div>
</div>

<div class="container" id="container_principal">
    <div class="boas_vindas">
        <center>
        <img class="img_boas_vindas" src="/Imagens/palimar_img.png"/>
        <div class="desc_boas_vindas">
            <p class="p_bemvindo">Seja bem-vindo(a) à</p>
            <p class="p_pousada">Pousada Palimar</p>
        </div>
        <div class="desc_faixa">
            <p>Tranquilidade e Conforto</p>
            <span class="line_e"></span>
            <span class="line_d"></span>
        </div>
        <div class="btn_reservar_agora" >
            <a class="desc_btn_reservar_agora" asp-controller="Reservas" asp-action="Create">Reservar agora</a>   
        </div>
        </center>
        
    </div>
</div>


@section scripts {
    <script>
        // Exibir o modal ao carregar a página, se houver um indicador de sucesso
        $(document).ready(function () {
            var successIndicator = @(TempData["LoginSuccess"]?.ToString().ToLower() ?? "false");


            if (successIndicator == true) {
                // Exibe o modal
                $('#notificationContainer').css('display', 'inline'); // Torna a div visível

                $('#notificationContainer').addClass('fade-in-out');


            }
        });
    </script>
}

