@model IEnumerable<PousadaIdentity.Entities.Quarto>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Quartos</h1>

<p>
    <a asp-action="Create">Criar Novo Quarto</a>
</p>
<table class="table" style="width:90%;margin:0 auto;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Disponibilidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArCondicionado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Disponibilidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArCondicionado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.QuartoId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.QuartoId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.QuartoId">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
